.pay-box{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.3s;
 border-radius: 10px;
 
 color: #fff;
 margin-bottom: 20px;
}

.pay-box h3{
 font-weight: bold;
 font-size: 20px;
 
}

.pay-box h4{
 font-weight: 800
}

.pay-box .curvebtn:hover{
 background-color: #d63c78;
 color: #fff !important;
}

.pay-box .curvebtn{
 background-color: transparent;
 border : 1px solid #fff !important;
}

.pay-box:hover{
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}